<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HOME</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
    <ion-item>
  <ion-button expand="full" (click)="goToFibonacciPage()">
    Ver Serie Fibonacci
  </ion-button>
</ion-item>


<ion-item>
  <ion-button expand="full" (click)="goToFibonacciPage()">
    Ver Factous
  </ion-button>
</ion-item>

<ion-item>
  <ion-button expand="full" (click)="goToFibonacciPage()">
    Ver Primos
  </ion-button>
</ion-item>

<ion-item>
  <ion-button expand="full" (click)="goToFibonacciPage()">
    Ver Pares o Impares
  </ion-button>
</ion-item>

<ion-item>
  <ion-button expand="full" (click)="goToFibonacciPage()">
    Ver Conjuntos
  </ion-button>
</ion-item>
</ion-list>
</ion-content>